

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Insurance</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    
    <link rel="stylesheet" href="/stylesheets/app.css">

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <!-- <div class="header item"><i class="ambulance icon"></i>CARLIFE</div> -->
    <!-- <a href="/" class="item">Home</a> -->

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <!-- <div class="header item"> -->
                <a href="/" class="item">
                    <i class="car icon"></i>CARLIFE
                </a>
            <!-- </div> -->
            <a href="/owner" class="item">Owner</a>
            <a href="/owner/new" class="item">+1 Owner</a>
            <a href="/policies" class="item">Policies</a>
            <a href="/cars" class="item">Car Details</a>
            <a href="/cars/new" class="item">+1 Car</a>
            <a href="/application" class="item">Application</a>
            <a href="/application/new" class="item">+1 Application</a>
            <a href="/approval" class="item">Approval</a>
            <a href="/approval/new" class="item">+1 Approval</a>
        </div>
        <!-- <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <div class="header item"><i class="car icon"></i>CARLIFE</div>
                <a href="" class="toc item">dd</a>
                <a href="/owner" class="item">Owner</a>
                <a href="/owner/new" class="item">+1 Owner</a>
                <a href="/policies" class="item">Policies</a>
                <a href="/cars" class="item">Car Details</a>
                <a href="/cars/new" class="item">+1 Car</a>
                <a href="/application" class="item">Application</a>
                <a href="/application/new" class="item">+1 Application</a>
                <a href="/approval" class="item">Approval</a>
                <a href="/approval/new" class="item">+1 Approval</a>
            </div>
        </div> -->
    </div>
