

<%- include('partials/header'); %>

    <main id="site-main">
        <div class="container">
            <div class="unii1 ">
                <span class="unii2">Insurance Policies</span>
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Policy ID</th>
                        <th>Type of Policy</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>


                    <% rows.forEach( (row)=> { %>
                        <tr>
                            <td>
                                <%= row.policy_id %>
                            </td>
                            <td>
                                <%= row.policy_type %>
                            </td>
                            <td>N/A</td>
                        </tr>
                        <% }); %>

                </tbody>
            </table>
        </div>
    </main>

    </body>

    </html>